body{
    margin: 0px;
    background: url(https://i.pinimg.com/originals/63/24/3a/63243aacfe563f25e472f9e187723df1.gif);
}

*{
    box-sizing: border-box;
}

.contenedor{
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
}

header{
    background-color: rgb(11, 11, 58);
    margin: 20px;
    padding: 1x 100px;
}

header h1{
    font-size: 40px;
    color: oldlace;
    text-align: center;
}

div#primero{    
    width: 1000px;
    height: 500px;
    background-color:rgb(3, 6, 39);
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 3px 3px 5px  rgb(179, 179, 255);
    
}

div#segundo{
    background-color: rgba(17, 182, 168, 0.123);
    margin: 40px 50px;
    width: 900px;
    height: 200px;
    border: white 2px solid;
    border-radius: 15px;
}
 

p{
    padding: 10px 20px;
    font-family: monospace;
    color: white;
    font-size: 17px;
}

h1#titulo{
    color: rgb(46, 13, 236);
    text-align: center;
    font-family:monospace;
    font-size: 50px;
    padding: 10px 10px;
    margin: 0px;
    background-color: rgba(130, 137, 238, 0.075);
}

input#msj{
    border: 1px solid rgb(255, 255, 255) ;
    border-radius: 15px;
    width: 800px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: rgba(17, 182, 168, 0.123);
    display: flex;
    margin-left: 80px;
    color: white;
}


button{
    width: 200px;
    padding: 5px 10px;
    margin: 10px;
    font-size: 15px;
}

button:hover{
    background-color: gray;
}
button#btn-cifrar{
    margin-left: 260px;
}
